.info{
    background: #0066B2;
}

body{
    font-family: 'Montserrat', cursive;
}

.primary-color{
    color: #e6dbc9;
}

.info h2 {
    margin-left: 20px;
}

.info-icons {
    margin-right: 120px;
}

.info-icons a {
    font-size: 20px;
    text-decoration: none;
}

.info-icons a:hover {
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    .info-icons {
        margin-right: 50px;
        margin-left: 20px;
    }
}

